body {
    font-family: 'Open Sans',
        sans-serif;
    margin: 0;
    box-sizing: border-box;
    width: 100vw;
}

div {
    display: block;
}

a {
    text-decoration: none;
    color: #000;
    transition: .3s;
}

a:hover {
    opacity: 0.8;
}

a:focus {
    outline: none;
    border: none;
}

button {
    transition: .3s;
}

button:hover {
    opacity: 0.8;
}

button:focus {
    outline: none;
    border: none;
}

h1 {
    font-family: 'Anton',
        sans-serif;
    font-size: 44px;
    text-align: center;
}

h2 {
    font-weight: 200;
    font-size: 17px;
    text-align: center;
}

.row_flex {
    display: flex;
}

.bold {
    font-weight: bold;
}

.site-header {
    position: fixed;
    width: 100%;
    height: 75px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: #E7D67F;
    font-family: 'Anton',
        sans-serif;
    box-shadow: 0px 0px 9px 3px rgba(41, 41, 41, .25);

    z-index: 8888;
}

.site-identity {
    display: flex;
    justify-content: space-between;
    width: 175px;

    margin-left: 10px;
}

.site-identity h1 {
    font-size: 20px;
}

.site-identity img {
    max-width: 55px;
    /* float: left;
    margin: 0 10px 0 0; */
}

.header_buttion {
    width: 200px;
    height: 50px;
    background: #EC7071;
    border-radius: 100px;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.hero {
    display: flex;
    justify-content: space-between;
    width: 100%;
    min-height: 100vh;
}

#main_hero {
    object-fit: cover;
    width: 50%;
}

#hero_body {
    display: flex;
    flex-direction: column;
    background-color: #80bf8f;
    width: 50%;
    justify-content: center;
}

.big_title {
    color: #E7D67F;
    margin: 15%;
    margin-bottom: 0;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 44px;
    line-height: 1.2;

    font-family: 'Anton',
        sans-serif;
}

.big_subtitle {
    color: white;
    font-size: 17px;
    font-weight: 200;
    margin: 15%;
    margin-top: 10px;
    margin-bottom: 15px;
}

.hero_button {
    color: #EC7071;
    background-color: #E7D67F;
    margin: 0 15%;
    /* width: 70%; */
    text-align: left;
    padding: 10px 15px;
    /* padding-left: 20px; */
    font-family: 'Anton',
        sans-serif;
    /* font-weight: 400; */
    font-size: 19px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    border: none;
}

.arrow {
    border: solid #EC7071;
    border-width: 0 6px 6px 0;
    display: inline-block;
    padding: 6px;
}

.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.features_panel {
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.features_header {
    margin-bottom: 0;
}

.benefits_panel {
    width: 95%;
    display: flex;
    justify-content: space-around;
    padding-bottom: 65px;
}

.benefit {
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 35px;
}

.benefits_icon {
    width: 50px;
    height: 50px;
}

.benefit_header {
    font-size: 19px;
    color: #80BF8F;
}

.benefit_text {
    height: 100px;
    text-align: center;
}

.benefit_image {
    width: 300px;
    margin-top: 50px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}

.levels_panel {
    width: 100%;
    background-color: #E7D67F;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.levels_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px 0 80px;
    width: 100%;
}

.levels_header {
    color: #EC7071;
    margin-bottom: 0;
}

.levels_subheader {
    margin-bottom: 0;
}

.level_title {
    font-size: 19px;
}

.level_box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
}

.level_inner_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 20px 0;
}

.level_end_label {
    width: 20%;
    text-align: center;
}

.level_range {
    width: 60%;
    height: 25px;
    background-color: #FFF;
    border-radius: 360px;
    margin: 0 12px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#taste_level {
    width: 80.7%;
    height: 25px;
    background-color: #80BF8F;
    border-radius: 360px;
}

#health_level {
    width: 59.65%;
    height: 25px;
    background-color: #80BF8F;
    border-radius: 360px;
}

#ease_level {
    width: 57.89%;
    height: 25px;
    background-color: #80BF8F;
    border-radius: 360px;
}

.pricing_panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.short_title {
    margin-top: 75px;
}

.short_subtitle {
    margin-top: 0;
    max-width: 610px;
    text-align: center;
}

.bill_cycle_selector {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 40px 0;
}

.switch_container {
    position: relative;
    display: flex;
    width: 400px;
    height: 50px;
    align-items: center;
    justify-content: space-evenly;
}

#cycle_switch {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 90px;
    z-index: -9999;

    box-shadow: inset 0px 0px 4px rgba(0, 0, 0, .2);
}

.slider:before {
    position: absolute;
    content: "";
    height: 50px;
    width: 200px;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 90px;
}

#cycle_switch:checked+.slider:before {
    background-color: #80BF8F;
}

#cycle_switch:checked+.slider:before {
    -webkit-transform: translateX(200px);
    -ms-transform: translateX(200px);
    transform: translateX(200px);
}

.white {
    color: white;
    transition: .4s;
}

.discount_tag {
    margin-top: 20px;
    width: 90px;
    font-size: 14px;
    color: #80BF8F;
    font-weight: bold;
    background-color: rgba(128, 191, 143, .25);
    border-radius: 25px;
    text-align: center;
}

.discount_tag_red {
    margin-top: 20px;
    width: 90px;
    font-size: 14px;
    color: #EC7071;
    font-weight: bold;
    background-color: rgba(236, 112, 113, .25);
    border-radius: 25px;
    text-align: center;
}

.pricing_plans_container {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
}

.pricing_plan {
    margin: 10px;
    width: 375px;
    height: 605px;
    display: flex;
    flex-direction: column;
    align-items: center;

    background: #E7D67F;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}

.pricing_plan p {
    width: 265px;
    text-align: center;
}

.pricing_plan h1 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 44px;
    line-height: 54px;
    display: flex;
    align-items: flex-end;
    text-align: center;
}

.price_wrapper {
    height: 130px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.price {
    margin-bottom: 3px;
}

.light_mons {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 21px;
}

.features_in_plan {
    height: 180px;
    width: 265px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.feature {
    display: flex;
    align-items: center;
    margin: 5px;
}

.feature h2 {
    margin: 0;
}

.pricing_plan img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.try_free_button {
    width: 230px;
    height: 65px;
    background: #EC7071;
    border-radius: 100px;
    border: none;

    font-family: Anton;
    font-style: normal;
    font-weight: normal;
    font-size: 23px;
    line-height: 34px;

    color: #FFFFFF;

    display: flex;
    justify-content: center;
    align-items: center;
}

.most_popular {
    height: 65px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    background: #EC7071;
    color: white;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 21px;
}

#pro_plan {
    height: 670px;
}

.beta_plan {
    background-color: #80BF8F;
    color: white;
}

.footer {
    margin-top: 100px;
    height: 460px;
    background-color: #C4C4C4;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer_info {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    width: 300px;
    height: 80%;
    margin: 0 30px;
}

.our_story {
    width: 545px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0 30px;
}

.our_story img {
    width: 205px;
    height: 209.56px;
    border-radius: 220px;
    margin-right: 15px;
}

.checkout_overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.25);
    z-index: 9001;
}

.checkout_popup {
    width: 600px;
    height: 550px;
    padding: 20px;
    border-width: 6px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    z-index: 10000;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    overflow-y: scroll !important;
    max-height: 90vh;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#checkout_x {
    border: none;
    background: none;
    text-align: end;
    font-size: 25px;
    position: absolute;
    right: 10px;
    top: 10px;
}
.checkout_title{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.checkout_title h1{
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 19px;
    width: 100%;
    text-align: center;
    margin: 0;
    margin-bottom: 10px;
}

.checkout_title h2 {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: lighter;
    font-size: 19px;
    width: 100%;
    text-align: center;
    margin: 0;
}

.checkout_features{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 70px;
    margin: 17px 0;
}

.checkout_features p{
    color: grey;
    margin: 0;
}

.checkout_popup form {
    width: 100%;

    display: flex;
    flex-direction: column;
    
    margin: 0;
}

.checkout_popup label {
    width: 100%;

    display: flex;
    flex-direction: column;

    color: grey;
    /* font-weight: bold; */
    font-family: "Montserrat";

    margin: 5px;
}

.checkout_popup input{
    margin: 5px 0;
    border: none;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.25);
    -webkit-transition: box-shadow 150ms ease;
    transition: box-shadow 150ms ease;

    padding: 10px 12px;
    border-radius: 4px;

    font-family: "Montserrat";
    font-size: "16px";
}

.checkout_popup input:focus {
    outline: none;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.5);
}

#checkout_button {
    font-family: Montserrat;
    padding: 7px 0;
    margin: 20px 0 5px;
    margin-left: 4px;
    border: none;
    outline: none;
    width: 100%;
    border-radius: 4px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.25);
    background-color: rgba(128, 191, 143, 1);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

#checkout_button:disabled {
   background-color: rgba(128, 191, 143, .5);
}

.error_message{
    color: red;
    font-size: 12px;
    text-align: center;
    margin-top: 5px;
}

/**
* Shows how you can use CSS to style your Element's container.
* These classes are added to your Stripe Element by default.
* You can override these classNames by using the options passed
* to the CardElement component.
* https://stripe.com/docs/js/elements_object/create_element?type=card#elements_create-options-classes
*/

.StripeElement {
    /* height: 40px; */
    padding: 10px 12px;
     margin: 5px 0;
    width: auto;
    color: #32325d;
    background-color: white;
    border: 1px solid transparent;
    border-radius: 4px;

    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.25);
    -webkit-transition: box-shadow 150ms ease;
    transition: box-shadow 150ms ease;
}

.StripeElement--focus {
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.5);
}

.StripeElement--invalid {
    border-color: #fa755a;
}

.StripeElement--webkit-autofill {
    background-color: #fefde5 !important;
}

/* Styles for the success popup */

.success_popup{
    align-items: center;
    height: auto;
    max-width: 90%;
    max-height: 90%;
}
.success_popup div{
    margin: 15px 15px 30px;
}

#success_body{
    text-align: center;
    font-family: Montserrat;
    font-size: 13px;
    width: 85%;
}

.success_popup a {
    margin: 30px 15px 10px;
}

@media (max-width: 1024px) {
    h1 {
        font-size: 26px;
        max-width: 90%;
    }

    h2 {
        font-size: 14px;
        max-width: 90%;
    }

    p {
        font-size: 12px;
    }

    .header_buttion {
        width: 125px;
        font-size: 15px;
    }

    .hero {
        flex-direction: column;
        /* min-height: 35vh; */
    }

    #main_hero {
        width: 100%;
        height: 35vh;
    }

    #hero_body {
        width: 100%;
        min-height: 65vh;
    }

    .big_title {
        margin: 8%;
        margin-bottom: 0;
        font-size: 40px;
    }

    .big_subtitle {
        margin: 8%;
        margin-top: 10px;
        margin-bottom: 15px;
    }

    .hero_button {
        margin: 0 8%;
    }

    .hero_button h2 {
        font-size: 20px;
    }

    .benefits_panel {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .benefit_text {
        height: auto;
        width: 250px;
    }

    .benefit_image {
        width: 200px;
        margin-top: 15px;
    }

    .level_inner_wrapper {
        max-width: 100%;
    }

    .short_subtitle{
        max-width: 95%;
    }

    .switch_container {
        width: 300px;
    }

    .slider:before {
        width: 150px;
    }

    #cycle_switch:checked+.slider:before {
        -webkit-transform: translateX(150px);
        -ms-transform: translateX(150px);
        transform: translateX(150px);
    }

    .pricing_plans_container {
        flex-direction: column;
        align-items: center;
    }

    .pricing_plan {
        width: 90%;
        height: 560px;
        margin-bottom: 40px;
    }

    #pro_plan {
        height: 625px;
    }

    .footer {
        flex-direction: column;
        height: auto;
        align-items: flex-start;
        margin-top: 40px;
    }

    .our_story {
        margin-top: 10px;
        width: auto;
        
        flex-direction: row-reverse;
        margin-bottom: 15px;
    }

    .our_story img {
        width: 102.5px;
        height: 104.78px;
        margin-left: 10px;
    }
    .checkout_popup {
        width: 90%;
        height: 90%;
        padding: 2.5%;
        overflow-y: scroll !important;
    }

    .success_popup {
        height: auto;
        max-height: 90%;
        max-width: 90%;
    }
}